body {
	background: rgb(217,217,217);
	margin: 0;
	font-family: helvetica;
	}

.container {
  background: white;
	padding: 15px 20px;
	width:750px;
	margin: 0 auto;
	}

h1 {
	background: rgb(12,195,149);
	padding: 20px 0;
	color: white;	
	margin: 0; 
	text-align: center;
	font-weight: normal;
	font-size: 25px;
	}

#bannertwo {
	text-align: center;
	margin:0;
	word-spacing: 10px;
	} 

a {
	color: black;
	font-weight: bold;
	text-decoration: none;
  }

.box {
  background: lightblue;
  width: 750px;
  padding: 20px 0;
	}

h2	{
	padding: 20px 20px;
	text-align: center;
	margin: 0 auto;
	}

#imgMaui {
 	display: block;
 	margin: auto;
 	width: 80%;
	}

.paraone {
  	margin: 20px auto;
	text-align: justify;
	padding: 0 20px;
	}

.img2 {
 	display: block;
 	margin: auto;
 	width: 50%;
	}

#box2 {
  background: rgb(12,195,149);
  width: 750px;
  padding: 20px 0;
  }

p {
	text-align: center;
  }


