.container {
	margin: 0 auto;
	width: 85%;
}

header {
	background-color: black;
	overflow: hidden;
	text-transform: uppercase;
	padding: 10px 0;
}

header h1 {
	font-size: 35px;
	float: left;
	color: white;
}

header nav {
	float: right;
	margin-top: 8px;
}

header nav a {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin-left: 50px;
}

#burger, #mobile-nav {
		display: none;
	} 


@media screen and (max-width: 950px) {
	header nav {
		display: none;
	}

	#burger {
		display: block;
		float: right;
		margin-top: 4px;
		cursor: pointer;
		padding: 5px;
	}

}

#mobile-nav {
		position: absolute;
		width: 100%;
	}

	#mobile-nav a {
		display: block;
		background: rgb(222,222,222);
		text-align: center;
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid black;
		letter-spacing: 2.5px;
		font-size: 20px;
		font-family: helvetica;
		color: black;
		text-decoration: none;
		text-transform: uppercase;
	}