body {
    margin: 0 auto;
    background: white;
    font-family: helvetica;
}

.site-header {
    padding: 20px 0 0 0;
}


.hamburger {
    float: left;
    font-size:1.5em;
    background:none;
    padding:10px 8px 0 15px;
    color:#999;
    border: none;
    cursor:pointer;
    overflow: auto;
    color: #FF4500;
}


.cross{
    float: left;
    position: relative;
    font-size:2.8em;
    background:none;
    padding:15px 8px 0px 18px;
    color:#FF4500;
    border: none;
    cursor:pointer;
    overflow: hidden;
}


.menu_list {
    z-index:1;
    width: 100%;
    overflow: auto;
}

.site-header {
    display: inline-block;
}

.site-header h1 {
    color: #5a5353;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    float: left;
    cursor:pointer;
    z-index: -1;

}


.site-header h2  {
    color: #FF4500;
    padding-left: 15px;
    padding-top: 18px;
    margin: 0;
    float: left;
    cursor:pointer;
    z-index: -1;
}

.menu_list ul {
    list-style-type: none;
    background-color: #FF4500;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Raleway';
    padding: 15px 0px 15px 55px;
}

.menu_list a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    padding: 0 20px 0 0;
    display: inline-block;
}


.main_content {
/*    background: url("Images/asian couple.jpg");
/*    width: 100%;
    height: 100%;
    border-top: 2px solid #FF4500;
    margin-top: 0;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
    clear: both;
}


.fullscreen-bg__video {
    width: 100%;
    clear: both;

}

.text {
    border-top: 2px solid #FF4500;
    display: inline-block;
    margin:: 0 auto;
    width: 100%;
    height: 100%;
/*    margin-top: 400px;*/
/*    overflow: auto;*/
}

.hero_header {
    width: 500px;
    padding-top: 30px;
    background: white;
    text-align: center;
/*    border-bottom: 1px solid white;*/
    margin: 0 auto;
}

.excerpt {
    width: 500px;
    padding: 10px;
    margin-top: 0; 
    background: white;
    text-align: center;
/*    height: 200px;*/
    margin: 0 auto;
}


.divider {
    display: block;
    margin-top: 1.0em;
    margin-bottom: 5.0em;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 40%;
    border-top: 2px solid #FF4500;
}


.twopostscontainer {
    width: 800px;
    padding-bottom: 90px;
    margin: 0 auto;
/*    overflow: visible;*/
}


.thumbnail {
    width: 350px;

}

.left {
    width: 350px;
    display: inline-block;
    padding-right: 20px;
}

.right {
    width: 350px;
    display: inline-block;
    padding-left: 10px;
}

/*.threepostscontainer {
    width: 820px;
    margin: 0 auto;
}

.post-listings3 {
    width: 240px;
    display: inline-block;
    padding-left: 60px;
    box-sizing: border-box;
}

.post-listings3 img{
    width: 200px;
}*/

.footernav {
    width: 100%;
    background: grey;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.footernav nav {
    margin: 0 auto;
    padding-top: 20px;
}

.footernav nav a {
    padding-left: 20px;
    color: white;
    text-decoration: none;
}
