body {
    margin: 0 auto;
    background: white;
    font-family: helvetica;
}

.site-header {
    padding: 20px 0 0 10px;
}


button{
    color: #FF4500;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}


.tier_one_menu h1 {
    color: #5a5353;
    float: left;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 20px;
}

.tier_one_menu h2  {
    color: #5a5353;
    float: left;
    padding-left: 10px;
    padding-top: 13px;
    margin: 0;
}

.main_content {
    background: url("Images/asian couple.jpg");
    width: 100%;
    height: 600px;
    border-top: 2px solid #FF4500;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.text {
    display: inline-block;
    margin:: 0 auto;
    width: 100%;
    margin-top: 400px;
/*    overflow: auto;*/
}

.hero_header {
    width: 500px;
    padding: 10px;
    background: white;
    text-align: center;
    border-bottom: 1px solid white;
    margin: 0 auto;
}

.excerpt {
    width: 500px;
    padding: 10px;
    margin-top: 0; 
    background: white;
    text-align: center;
    height: 200px;
    margin: 0 auto;
}


.divider {
    display: block;
    margin-top: 7.0em;
    margin-bottom: 5.0em;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 40%;
    border-top: 2px solid #FF4500;
}


.twopostscontainer {
    width: 820px;
    padding-bottom: 90px;
    margin: 0 auto;
/*    overflow: visible;*/
}


.thumbnail {
    width: 400px;

}

.left {
    width: 400px;
    display: inline-block;
}

.right {
    width: 400px;
    display: inline-block;
}

.threepostscontainer {
    width: 820px;
    margin: 0 auto;
}

.post-listings3 {
    width: 240px;
    display: inline-block;
    padding-left: 60px;
    box-sizing: border-box;
}

.post-listings3 img{
    width: 200px;
}

.footernav {
    width: 100%;
    background: grey;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.footernav nav {
    margin: 0 auto;
    padding-top: 20px;
}

.footernav nav a {
    padding-left: 20px;
    color: white;
    text-decoration: none;
}
