.container {
  width: 80%;
  margin: 0 auto;
}

.box {
  height: 150px;
}


header {
  background: red;
}

main {
  background: yellow;
  float: left;
  height: 150px;
  width: 70%;
}

aside {
  background: green;
  float: right;
  height: 150px;
  width: 30%;
}

footer {
  background: blue;
}

.clear {
  clear: both;
}


